nn/*
*__pycache__*
update.txt
waveforms/reference*


modules/LEVM/AUXPNTL
modules/LEVM/AUXPNTL1
modules/LEVM/INFL
modules/LEVM/LINOTL
modules/LEVM/LINOTLN
modules/LEVM/LINOTR
modules/LEVM/LINOTRL.DAT
modules/LEVM/LINOUT
modules/LEVM/LVOUT
modules/LEVM/OUTIN
modules/LEVM/PNTOUTL
